* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #000000;
}

.image {
  background: url(C:/Users/adna_/Documents/landing/landing-page/public/CEU.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100vw;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 20px;
  display: flex;
}

.body {
  background: url(C:/Users/adna_/Documents/landing/landing-page/public/plain2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
  bottom: 150px;
}
.image:after {
  background: linear-gradient(to bottom, transparent 0%, #000000 100%);
  bottom: 0;
  content: "";
  height: 60%;
  left: 0;
  position: absolute;
  right: 0;
  top: 259px;
  width: 100%;
}

.head {
  color: white;
  text-decoration: none;
  margin: 40px;
  background: transparent;
}

.head:hover {
  text-decoration: underline blue;
  transition: all 2s ease;
}

.container {
  background: transparent;
  margin-left: 40%;
  height: 40px;
  margin-top: 4%;
}

.container-inicio {
  background: transparent;
}

.titulo-1 {
  background: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 70px;
  width: 80px;
  height: 10%;
}
.titulo-2 {
  background: transparent;
  height: 100%;
  font-size: 15px;
  margin-left: 10px;
}
.titulo-3 {
  background: transparent;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-left: 10px;
  position: relative;
  bottom: 10px;
}

.texto {
  background: transparent;
  height: 120px;
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: 25%;
}

.texto1 {
  background: transparent;
  height: 60%;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
}

.texto2 {
  background: transparent;
  height: 40%;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.main {
  width: 1000px;
  margin: 0 auto;
  background-color: aqua;
}

.pacote-body {
  display: absolute;
  z-index: 1;
  background-color: blue;
}

.video-container {
  width: 40%;
  margin: 0;
  height: 40%;
}
