*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
}

.image {
    background: url(C:\Users\suely\Documents\Adna\programação\landing-page\public\CEU.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.body {
   
    background: url(C:\Users\suely\Documents\Adna\programação\landing-page\public\degrade.png);
    height: 50vh;
    position: relative;
    bottom:50%
   
}



#titulo {
    color: rgb(243, 243, 245);
    font-family: sans-serif;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    margin-top:5%;
    animation: bounce;
    animation-duration: 2s;
}